apiVersion: batch/v1beta1
kind: CronJob
metadata:
  labels:
    {{- include "common.labels" . | indent 4 }}
  name: mapbox-update-job
  namespace: {{ .Release.Namespace }}
spec:
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: 1
  jobTemplate:
    metadata:
      creationTimestamp: null
    spec:
      template:
        metadata:
          creationTimestamp: null
        spec:
          containers:
            - env:
                - name: TZ
                  value: Europe/Oslo
                - name: JAVA_OPTIONS
                  value: -server -X{{ .Values.resources.xmx }} -Dspring.config.location=/etc/application-config/application.properties
                      -Dfile.encoding=UTF-8
                - name: GCP_PROJECT
                  value: {{ .Values.environmentValues.gcpProject }}
                - name: HELPER_SLACK_ENDPOINT
                  valueFrom:
                    secretKeyRef:
                      key: slack-url
                      name: {{ .Values.environmentValues.slackUrl }}
                - name: MAPBOX_ACCESS_TOKEN
                  valueFrom:
                    secretKeyRef:
                      key: mapbox-access-token
                      name: ror-asag-secrets
                - name: MAPBOX_USER
                  valueFrom:
                    secretKeyRef:
                      key: mapbox-user
                      name: ror-asag-secrets

              image: {{ .Values.image.repo }}
              imagePullPolicy: IfNotPresent
              name: mapbox-update-job
              resources:
                limits:
                  cpu: {{ .Values.resources.cpuLimit }}
                  memory: {{ .Values.resources.memLimit }}
                requests:
                  cpu: {{ .Values.resources.cpuRequest }}
                  memory: {{ .Values.resources.memRequest }}
              terminationMessagePath: /dev/termination-log
              terminationMessagePolicy: File
              volumeMounts:
              - name: {{ .Values.secretMount.name }}
                mountPath: {{ .Values.secretMount.mountPath }}
                subPath: {{ .Values.secretMount.subPath }}
                readOnly: {{ .Values.secretMount.readOnly }}
              - name: application-config
                mountPath: /etc/application-config
                readOnly: true
          dnsPolicy: ClusterFirst
          restartPolicy: Never
          schedulerName: default-scheduler
          securityContext: {}
          terminationGracePeriodSeconds: 30
          volumes:
          - name: {{ .Values.secretMount.name }}
            secret:
              secretName: {{ .Values.secretMount.secretName }}
          - name: application-config
            configMap:
              name: {{ .Values.configMapMount.name }}
              defaultMode: 420
  schedule: '30 10 * ? *'
  successfulJobsHistoryLimit: 1
  suspend: false